@model Practical10A.Models.Student
@{
    //ViewData["Title"] = "Home Page";
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <div>
        @using (Html.BeginForm("Myform"))
        {
            @Html.Label("Student ID: ")
            @Html.TextBoxFor(x => x.Id)
            <br />
            <br />
            @Html.Label("Student Name: ")
            @Html.TextBoxFor(x => x.Name) <br />
            <br />
            @Html.Label("Student Subject: ")
            @Html.TextBoxFor(x => x.Subject) <br/>
            <br /> 
            @Html.Label("Student Degree: ")
            @Html.TextBoxFor(x => x.Degree) <br />
            <br />
            <input type="submit" value="Submit" />
        }
    </div>
</body>
</html>